@charset "utf-8";

/* CSS Document */

body {
	margin: 0 auto;/*居中*/
	font-family: Arial, sans-serif;
	font-size: 14px;
	background-image: url(../img/bg01.png);

}

.container {
	width: 100%;
	padding: 0  15px;
	box-sizing: border-box;
	margin: 0;
	background: rgba(44,166,221,0.35);

}

.header {
	width: 100%;
	height: 50px;
	background-color: #f2f2f2;
	line-height: 50px;
	font-size: 18px;
	color: #333;
	text-align: center;
}

.main {
	width: 100%;
	box-sizing: border-box;
	
}

.main-item {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.main-item img {
	width: 100%;
}
.footer {
	width: 100%;
	height: 50px;
	background-color: #f2f2f2;
	line-height: 50px;
	font-size: 14px;
	color: #999;
	text-align: center;
}
.tubiao{

}
